@import '../../../../styles/constants.scss';

.container {
  margin: 20px 0;
  margin-bottom: 0px;
  position: relative;
  min-height: 22;
  width: 100%;
}

.line {
    background-color: $darkGray;
    height: 1;
    flexGrow: 1;
    marginTop: 10;
}

.content {
  padding: 0 20px;
  padding-bottom: 3px;
  z-index: 1;
  background-color: $black;
}

.contentFont{
  color: $darkGray;
}

.active {
  color: $darkGray;

  &:hover {
    color: $darkGray;
  }
}
