@import '../../../../styles/constants.scss';

.container {
  border: 1px solid $darkGray;
  color: $darkGray;
}

.option {
  flex: 1;
  padding: 10px 0px;

  &:hover {
    color: $white;
  }

  &.selected {
    color: $white;
    background-color: $highlight;
  }
}
